.title 
	%span Javascript Front End

.grid_selector
	%h1 Welcome to the Rails 3.1 with Javascript Front-End Example
	%h2 Pick you application

	.option
		= link_to 'Standard App', bees_path

	.option
		%a{:href=>"/app"} Dynamic App
