<ul class="list content_panel">
	<li class="header">
	            <span>Name</span>
	            <span>Email</span>
	            <span>Username</span>
	            <span>Password</span>
	            <span>Interests</span>

	          </li>
</ul>
<div class="action_bar">
<div class="action_button">
	<a class="btn_new" href="#">New</a>
</div>
</div>