<li>
	<span class="">${name}</span>
	<span class="">${username}</span>
	<span class="">${email}</span>
	<span class="">${password}</span>
	<span class="">${interests}</span>
	<span class="button btn_edit">Edit</span>
	<span class="button btn_delete">Delete</span>

</li>