<div class="content_panel">
	<input id="txt_name" placeholder="Name" value="${name}"/>
	<input id="txt_username" placeholder="Username" value="${username}"/>
	<input id="txt_email" placeholder="Email" value="${email}"/>
	<input id="txt_password" placeholder="Password" value="${password}"/>
	
</div>
	<div class="action_bar">

	<div class="action_button">
		<a class="btn_save" href="#">Save</a>
	</div>
	
	<div class="action_button">
		<a class="btn_cancel" href="#">Cancel</a>
	</div>
	
	</div>
	