.title 
  %span change it, but it's still going to be a bee

= render 'form'

.action_bar
  .action_button
    %a{:href => "#",:onclick=>"$('form').submit()"} Save

  .action_button
    = link_to 'Back', bees_path
